.general-navbar {
  display: flex;
  justify-content: space-between; /* Push left and right apart */
  align-items: center;
  padding: 16px 32px;
  background: var(--bg-secondary);
  backdrop-filter: blur(10px);
  flex-wrap: nowrap; /* prevent wrapping to next line */
  box-shadow: var(--shadow);
}

.general-navbar .link {
  color: var(--text-primary);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.general-navbar .link:hover {
  color: var(--accent-color);
}

.general-navbar .link:active {
  color: var(--accent-color);
}

.general-navbar .link:focus {
  color: var(--accent-color);
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  gap: 30px; /* space between items */
  flex-shrink: 0; /* prevents items from shrinking too much */
}

.custom-google-login {
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--shadow-medium);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.custom-google-login:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-medium);;
}

/* Optional: scale down the default Google button */
.custom-google-login > div {
  transform: scale(0.95);
}