body {
  margin: 0;
}

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f7fafc;
  --bg-tertiary: #fff9f9;
  --text-primary: #000000;
  --text-secondary: #D53B07;

  --small-text-colour: #ffffff;
  --accent-text-colour: #b32d00;
  --accent-color: #D53B07;
  --primary-accent-colour: #D53B07;
  --border-colour: #dfdfdf;
  --disabled-colour: #dfdfdf;
  --primary-textbox-error-colour: #fed7d7;

  /* Colours for when things are clicked */
  --primary-clicked-colour: #932500;
  --selected-button-colour: #ff8040;

  /** THIS SHOULD BE USED FOR ANYTHING CONSIDERED "BAD" **/
  --invalid-input: #e74c3c;

  --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  --shadow-small: 0 2px 6px rgba(0, 0, 0, 0.15);
  --shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.2);

  --green: #26ad5e;
  --yellow: #b08f0b;
  --orange: #ff7700;
  --red: #e74c3c;
  --blue-grey: #4d6ba2;
  --black: #000000;
}

.dark {
  --bg-primary: #1a202c;
  --bg-secondary: #222935;
  --bg-tertiary: #2d2d3a;
  --text-primary: #edf2f7;
  --text-secondary: #a0aec0;

  --small-text-colour: #c5c5c5;
  --accent-text-colour: #c23202;
  --accent-color: #9c2a04;
  --primary-accent-colour: #9c2a04;
  --border-colour: #5b5a5a;
  --disabled-colour: #555555;
  --primary-textbox-error-colour: #635454;

  /* Colours for when things are clicked */
  --primary-clicked-colour: #c03000;
  --selected-button-colour: #8e4724;

  /** THIS SHOULD BE USED FOR ANYTHING CONSIDERED "BAD" **/
  --invalid-input: #9f352a;

  --shadow: 0 10px 40px rgba(255, 255, 255, 0.1);
  --shadow-small: 0 2px 6px rgba(255, 255, 255, 0.15);
  --shadow-hover: 0 4px 10px rgba(255, 255, 255, 0.2);

  --green: #2ecc71;
  --yellow: #f1c40f;
  --orange: #ff7700;
  --red: #e74c3c;
  --blue-grey: #6388ce;
  --black: #d0d0d0;
}